:root {
  --color: #3A47E7;
  --invert: 0%;
  --line: 10;
}

canvas {
  width: var(--line);
  color: var(--color);
  filter: invert(var(--invert));
  background-color: white;
  max-width: 100%;
}

.hl {
  color: var(--color);
}

body {
  text-align: center;
  background: #e6e6e6;
  color: #1f1f1f;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}